#================================================
# Directory
#================================================

/**/build/
/**/debug/
/**/release/
/**/extract/
/**/vendor/
/**/Joomla/root/
/**/GDepot/
/**/.recommenders/
/**/build/classes/
/**/WecContent/
/**/Servers/

#================================================
# ReadyDev
#================================================

/**/views.json
/**/messages.json
/data/sitemaps/*xml
/**/~$*

#================================================
# Eclipse [ Comment For Fist Commit ]
#================================================

/**/Release/
/**/Debug/
/**/*.metadata/
/**/*.settings/
/**/*.project
/**/*.cproject

#================================================
# Compilation [ Comment For Fist Commit ]
#================================================
/**/cmd_build*
/**/cmd_compile*
/**/cmd_clean*
/**/cmd_run*
/**/cmd_eclipse_start*
/**/cmd_eclipse_run*

#================================================
# Data Manager [ Comment For Fist Commit ]
#================================================
/**/data/*

#================================================
# Python
#================================================

/**/*pyc

#================================================
# Qt Creator
#================================================

/**/*qmake.stash
/**/*pro.user
/**/Makefile.Debug
/**/Makefile.Release

#================================================
# Keil µVision
#================================================

/**/*lst
/**/*obj
/**/*lnp
/**/*M51
/**/*uvgui.sabine
/**/*uvgui_sabine.bak
/**/*uvopt
/**/*uvproj.bak
/**/*LST
/**/*OBJ

#================================================
# Proteus
#================================================

/**/*pdsbak
/**/*pdsprj.carlpis.sabine.workspace
